img {
	width: 300px;
}

.pic ul{
	list-style: none;

}

.pic li {
	width: ;
	display: flex;
	flex-wrap:wrap;

}

#container {
	padding: 30px 250px;
}

h1 {
	text-align: center;
	font-family: 'Merriweather', serif;
}

