#Header {
	color: #ffffff;
	background-image: url("./top-cover.jpg");
	height:500px;
	background-size: 100%;
	text-align: center;
	line-height: 500px;
	font-size: 3em;
	font-family: 'Merriweather', serif;
}

/*.top {
    position: fixed;  要素を固定するために重要 
    z-index: -1;  マイナスの値にすると要素が重なった時に隠れる 
    top: 0;
    width: 100%;
    height: 500px;

}


.next {
	    position: absolute; /* 要素を重ねるために重要 
    top: 500px; /* .topのheightに合わせてある 
    line-height: 0px;
    background-color: #ffffff;
} */

section {
	background-color: #f0f0f0;
	padding-bottom: 10px; 
	padding-top: 0; 

}

img {
	height: 300px;
	opacity: 0.8;

}

.div1 img{
	float:left;
	padding-right: 30px;
	padding-left:60px;
}

.div1 h2 {
	padding-top: 20px; 
}

.About h2 {
	font-size: 2em;
	font-family: Spartan, sans-serif;
	padding-top: 50px; 
}

.paragraph {
	padding-top: 10px;
	padding-bottom: 100px;
	padding-right: 90px;
}

.paragraph p {
	font-family: Archivo-Bold, Arial;

}

.div2 {
	text-align: center;
	background-color: #ffffff;


}

.div2 h2 {
	padding-top: 30px; 
	color: #314e52;
}

.picture {
	margin: 0 auto;
	width:680px;
} 

.Europe {
	position: relative;
	top: 10px;
  	left: 0px;
	float:left;
overflow: hidden;
padding-bottom: 50px;
}

.Europe p {
	position: absolute;
	color: white;
	top: 40%;
	left: 50%;
	font-weight: bold;
	font-size: 2em;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;


}

.Asia {
	position: relative;
	top: 10px;
  	left: 0px;
	float: left;
overflow: hidden;
padding-bottom: 50px; 
margin-left: 80px;
}

.Asia p {
	position: absolute;
	color: white;
	top: 40%;
	left: 50%;
	font-weight: bold;
	font-size: 2em;
	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
}


.end{
  position: relative;
  clear: both;
}   

footer {
	width: 100%;
  	position: absolute;
  	background-color: #d3e0ea; 

}

footer img {

	float:left;
	padding-right: 30px;
	padding-left:60px;
}

footer h3 {
	padding-top: 50px; 
	padding-bottom: 10px;
	font-family: Spartan, sans-serif;
	font-size: 26px;
}

footer h4,p {
	font-family: 'M PLUS 1p', sans-serif;
}

