body {
  background-color: #F5F3F1;
}

img {
	height: 350px;
	width:350px;

}


#container {
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows: 350px 350px 350px 80px;  
	overflow: hidden;
	align-items: center;
	justify-content: center;
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	padding-left: 10px;
  padding-top: 30px;
}


h1 {
	text-align: center;
	font-family: 'Merriweather', serif;
  padding-top: 50px;
  font-size: 40px;
  color: #6D432F;
}  

h4 {
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 0px 0px;
  color: #6D432F;
  opacity: 70%;
    font-size: 16px;

}

#itemA {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#itemB {
	grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#itemC {
	grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#itemD {
	grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#itemE {
	grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#itemF {
	grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#itemG {
	grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#itemH {
	grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#itemI {
	grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.button {
	text-align: center;
  padding-bottom: 80px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #282948;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #5283C4;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 350px;
  height: 350px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}


.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #e3d0b9 ;
}

.back p {
  text-align: center;
  font-size: 13px;
  padding: 120px 30px;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-style: italic;
}